/* default navigation styling */
a {
   text-decoration: none;
   transition-duration: 500ms;
   color: lightsalmon;
}

/* navigation */
nav.mainNav {
   display: grid;
   grid-template-columns: 5fr 2fr;

   border-bottom: solid 3px rgb(51, 51, 51);
   padding-bottom: .5rem;
   transition-duration: 500ms;
}

nav.mainNav:hover {
   padding-top: 1rem;
   padding-bottom: 1.5rem;
   border-bottom: solid 5px rgba(0, 0, 0, 0.904);
}

/* navigation bar에 마우스 포인터 올려놓을 경우, 링크 색상 변화.. */

nav.mainNav div a a {
   padding-top: .3em;
   visibility: hidden;
   font-size: 0em;
}

nav.mainNav div a a:nth-child(1) {
   /* 첫번째 sub menu 는 조금 더 간격 넣어줌 */
   padding-top: 1em;
}

/* main menu link */
div.menu a:hover {
   color: black;
   transform: scale(1.2);
}

.mainNav div.menu {
   display: flex;
   justify-content: space-around;
}

.mainNav div.menu a {
   display: flex;
   flex-direction: column;
}

/* user info link  */
.mainNav div.user {
   display: flex;
   justify-content: space-around;
}

.mainNav div.user a:hover {
   color: black;
   transform: scale(1.1);
}